html, body {
  overflow-x: hidden;
  width: 100%;
}
.about-program-main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px;
  margin-top: 20px;
  height: 100vh;
}

.about-first-div {
  width: 50%;
}

.about-first-div h2 {
  color: #0645ad;
  font-size: 28px;
  font-weight: bold;
}

.about-first-div p {
  font-size: 20px;
  line-height: 30px;
  color: #333;
  margin-top: 10px;
}

.about-first-div p:nth-child(3) {
  color: #0645ad;
  font-weight: bold;
}

.about-second-div {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  border-radius: 10px;
}

.about-second-div img {
  max-width: 400px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1180px) {
  .about-program-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    /* margin-top: 50px; */
  }

  .about-first-div,
  .about-second-div {
    width: 90%;
    text-align: center;
  }
  .about-program-title{
    text-align: center;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 769px) {
  .about-program-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin-top: 220px;
  }

  .about-first-div h2 {
    font-size: 24px;
  }

  .about-first-div p {
    font-size: 18px;
    line-height: 28px;
  }

  .about-second-div img {
    max-width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .about-program-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin-top: 260px;
    margin-bottom: 50px;
  }

  .about-first-div h2 {
    font-size: 22px;
  }

  .about-first-div p {
    font-size: 16px;
    line-height: 26px;
  }

  .about-second-div {
    padding: 20px;
  }
}

@media screen and (max-width: 480px) {
  .about-program-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin-top: 220px;
  }

  .about-first-div h2 {
    font-size: 22px;
  }

  .about-first-div p {
    font-size: 16px;
    line-height: 26px;
  }

  .about-second-div {
    padding: 20px;
  }
}
@media screen and (max-width: 375px) {
  .about-program-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin-top: 340px;
  }

  .about-first-div h2 {
    font-size: 22px;
  }

  .about-first-div p {
    font-size: 16px;
    line-height: 26px;
  }

  .about-second-div {
    padding: 20px;
  }
}