.video-containerr {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 120vh;
  top: 30px;
}
.video-containerr video {
  width: 100%;
  height: 100%;
  object-fit: cover;

  object-position: center;
  transition: all 0.3s ease;
}

.circle-menu {
  position: absolute;
  top: 52%;
  right: 5%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 240px;
  right: calc(4vw);
  gap: calc(11.2vw);
}

.circle {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  background-color: rgb(99, 154, 236);
}
.circle-link {
  text-decoration: none;
  color: white;
}
.circle-link:hover {
  color: white;
  font-size: 16px;
}
.circle-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.82);
  font-size: 14px;
  transition: color 0.3s, font-size 0.3s, transform 0.3s;
}

.circle-link:hover {
  color: white;
  font-size: 15px;
  transform: scale(1.1);
}

/**/



@media (max-width: 1400px) {
  .video-container {
    overflow: hidden;
  }
  .video-containerr video {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    object-position: right;
    transform: scale(1.1);
  }
  .circle-menu {
    position: absolute;
    top: 52%;
    right: 0.2%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 180px;
  }

  .circle {
    width: 145px;
    height: 145px;
    font-size: 14px;
    padding: 5px;
  }
  .circle-link{
    font-size: 18px;
  }
}

/* nest hub max */
@media (max-width: 1282px) {
  .video-container {
    overflow: hidden;
  }
  .video-containerr video {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    object-position: right;
    transform: scale(1.1);
  }

  .circle-menu {
    position: absolute;
    top: 52%;
    right: 0.2%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 180px;
  }

  .circle {
    width: 165px;
    height: 165px;
    font-size: 14px;
    padding: 5px;
  }
  .circle-link{
    font-size: 18px;
  }
}
/* ipad pro */
@media (max-width: 1040px) {
  .video-container {
    overflow: hidden;
  }
  .video-containerr video {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    object-position: right;
    transform: scale(1.1);
  }
    .circle-menu {
    position: absolute;
    top: 52%;
    right: 5%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 300px;
  }

  .circle {
    width: 305px;
    height: 305px;
    font-size: 14px;
    padding: 5px;
  }
  .circle-link{
    font-size: 24px;
  }
}

/* nest hub */
@media (max-width: 1025px) {
  .video-container {
    overflow: hidden;
  }
  .video-containerr video {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    object-position: right;
    transform: scale(1.1);
  }
    .circle-menu {
    position: absolute;
    top: 52%;
    right: 1%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
  }

  .circle {
    width: 105px;
    height: 105px;
    font-size: 14px;
    padding: 5px;
  }
  .circle-link{
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  .video-container {
    overflow: hidden;
  }
  .video-containerr video {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    object-position: right;
    transform: scale(1.1);
  }
  .circle-menu {
    right: calc(0.6vw);
    gap: calc(17vw);
  }

  .circle {
    width: 74px;
    height: 74px;
    font-size: 14px;
    padding: 5px;
  }
}
/* asus zenbook fold */
@media (max-width: 854px) {
  .video-container {
    overflow: hidden;
  }
  .video-containerr video {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    object-position: right;
    transform: scale(1.1);
  }
  .circle-menu {
    position: absolute;
    top: 52%;
    right: 6%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 300px;
  }

  .circle {
    width: 265px;
    height: 265px;
    font-size: 14px;
    padding: 5px;
  }
  .circle-link{
    font-size: 26px;
  }
}
/* ipad air */
@media (max-width: 850px) {
  .video-container {
    overflow: hidden;
  }
  .video-containerr video {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    object-position: right;
    transform: scale(1.1);
  }
  .circle-menu {
    position: absolute;
    top: 52%;
    right: 5%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 250px;
  }

  .circle {
    width: 265px;
    height: 265px;
    font-size: 14px;
    padding: 5px;
  }
  .circle-link{
    font-size: 18px;
  }
}

@media (max-width: 769px) {
  .video-container {
    overflow: hidden;
  }
  .video-containerr video {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    object-position: right;
    transform: scale(1.1);
  }

  .circle-menu {
    position: absolute;
    top: 52%;
    right: 6%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 250px;
  }

  .circle {
    width: 205px;
    height: 205px;
    font-size: 14px;
    padding: 5px;
  }
}

@media (max-width: 700px) {
  .video-container {
    overflow: hidden;
  }
  .video-containerr video {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    object-position: right;
    transform: scale(1.1);
  }
  .circle-menu {
    right: calc(2.2vw);
    gap: calc(21vw);
  }

  .circle {
    width: 75px;
    height: 75px;
    font-size: 14px;
    padding: 5px;
  }
}

@media (max-width: 650px) {
  .video-container {
    overflow: hidden;
  }
  .video-containerr video {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    object-position: right;
    transform: scale(1.1);
  }
  .circle-menu {
    right: calc(4vw);
    gap: calc(23vw);
  }

  .circle {
    width: 75px;
    height: 75px;
    font-size: 14px;
    padding: 5px;
  }
}

@media (max-width: 580px) {
  .video-container {
    overflow: hidden;
  }
  .video-containerr video {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    object-position: right;
    transform: scale(1.1);
  }
  .circle-menu {
    right: calc(4vw);
    gap: calc(27vw);
  }

  .circle {
    width: 75px;
    height: 75px;
    font-size: 14px;
    padding: 5px;
  }
}

@media (max-width: 541px) {
  .video-container {
    overflow: hidden;
  }
  .video-containerr video {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    object-position: right;
    transform: scale(1.1);
  }
  .circle-menu {
    position: absolute;
    top: 52%;
    right: 4%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 140px;
  }

  .circle {
    width: 165px;
    height: 165px;
    font-size: 14px;
    padding: 5px;
  }
}

@media (max-width: 515px) {
  .video-container {
    overflow: hidden;
  }
  .video-containerr video {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    object-position: right;
    transform: scale(1.1);
  }
  .circle-menu {
    right: calc(5vw);
    gap: calc(30vw);
  }

  .circle {
    width: 75px;
    height: 75px;
    font-size: 14px;
    padding: 5px;
  }
}

@media (max-width: 488px) {
  .video-container {
    overflow: hidden;
  }
  .video-containerr video {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    object-position: right;
    transform: scale(1.1);
  }
  .circle-menu {
    right: calc(6vw);
    gap: calc(31vw);
  }

  .circle {
    width: 75px;
    height: 75px;
    font-size: 14px;
    padding: 5px;
  }
}

@media (max-width: 450px) {
  .video-container {
    overflow: hidden;
  }
  .video-containerr video {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    object-position: right;
    transform: scale(1.1);
  }
  .circle-menu {
    right: calc(8vw);
    gap: calc(32vw);
  }

  .circle {
    width: 75px;
    height: 75px;
    font-size: 14px;
    padding: 5px;
  }
}

@media (max-width: 437px) {
  .video-container {
    overflow: hidden;
  }
  .video-containerr video {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    object-position: right;
    transform: scale(1.1);
  }
  .circle-menu {
    right: calc(8vw);
    gap: calc(34vw);
  }

  .circle {
    width: 75px;
    height: 75px;
    font-size: 14px;
    padding: 5px;
  }
}

@media (max-width: 431px) {
  .video-container {
    overflow: hidden;
  }
  .video-containerr video {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    object-position: right;
    transform: scale(1.1);
  }
  .circle-menu {
    position: absolute;
    top: 52%;
    right: 14%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 220px;
  }

  .circle {
    width: 180px;
    height: 180px;
    font-size: 14px;
    padding: 5px;
  }
}

/* iphone 12 pro */
@media (max-width: 392px) {
  .video-container {
    overflow: hidden;
  }
  .video-containerr video {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    object-position: right;
    transform: scale(1.1);
  }
  .circle-menu {
    position: absolute;
    top: 52%;
    right: 12%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 200px;
  }

  .circle {
    width: 170px;
    height: 170px;
    font-size: 14px;
    padding: 5px;
  }
}

/*iphone se*/
@media (max-width: 376px) {
  .video-container {
    overflow: hidden;
  }
  .video-containerr video {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    object-position: right;
    transform: scale(1.1);
  }
  .circle-menu {
    position: absolute;
    top: 52%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 140px;
  }

  .circle {
    width: 145px;
    height: 145px;
    font-size: 14px;
    padding: 5px;
  }
}
@media (max-width: 361px) {
  .video-container {
    overflow: hidden;
  }
  .video-containerr video {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    object-position: right;
    transform: scale(1.1);
  }
  .circle-menu {
    position: absolute;
    top: 52%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 140px;
  }

  .circle {
    width: 175px;
    height: 175px;
    font-size: 14px;
    padding: 5px;
  }
}
@media (max-width: 345px) {
  .video-container {
    overflow: hidden;
  }
  .video-containerr video {
    width: 100%;
    height: 120vh;
    object-fit: cover;
    object-position: right;
    transform: scale(1.1);
  }
  .circle-menu {
    position: absolute;
    top: 52%;
    right: 16%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 200px;
  }

  .circle {
    width: 175px;
    height: 175px;
    font-size: 14px;
    padding: 5px;
  }
}