
.program-main-container{
    background-color: rgb(223, 222, 222);

}
.program-second-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  padding: 80px;
}
.first-scope {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: white;
  padding: 10px;
  height: 400px;
}

.scope-img {
  height: 60%;
}

.scope-title {
  color: rgb(97, 97, 210);
}

.scope-descp{
    margin-top: 20px;
    font-size: 20px;
}