@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Poppins:wght@300;400;600&display=swap");

html,
body {
  overflow-x: hidden;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    141deg,
    rgb(11, 1, 42) 25%,
    grey 71%,
    rgb(35, 11, 108) 85%
  );
  background-attachment: fixed;
  background-size: cover;
  font-family: "DM Sans", sans-serif;
}
.ss {
  text-decoration: underline;
}
.program-main-container {
  width: 100%;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.1);
}

.program-title {
  font-size: 36px;
  text-align: center;
  color: #f1f5f9;
  font-weight: 500;
}

.program-descp {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #e5e5e5;
  font-weight: 500;
}

.program-second-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px 20px;
  gap: 30px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.digital-scope {
  width: 420px;
  background-color: #f9f9fb;
  border-radius: 13px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 13px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  max-height: 120px;
}
.scope-icon {
  width: 36px;
  height: 36px;
}

.digital-scope.expanded {
  max-height: 300px;
}

.scope-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  gap: 5px;
}
.scope-header-h {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: start;
}
.scope-header-h a {
  top: 0;
}

.scope-title {
  font-size: 22px;
  font-weight: 500;
  color: #222222;
  margin: 0;
  letter-spacing: 0.01em;
}

.scope-collapse {
  opacity: 0;
  max-height: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.scope-collapse.open {
  opacity: 1;
  max-height: 200px;
  margin-top: 15px;
}

.scope-descp {
  font-size: 16px;
  color: #5a5a5a;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 769px) {
  .program-title {
    font-size: 28px;
  }
  .program-descp {
    font-size: 16px;
  }
  .scope-title {
    font-size: 21px;
  }
}

@media screen and (max-width: 576px) {
  .scope-title {
    font-size: 19px;
  }
  .program-descp {
    font-size: 15px;
  }
}

.progvideo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.progvideo video {
  width: 100%;
  height: auto;
  display: block;
}
