.elig {
  width: 100%;

  background: linear-gradient(to bottom, #252e66, #252e66) !important;
}
.prioritization-methodology h3,
.eligibility-criteria h3 {
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 0px;
  text-align: center;
  color: #323232 !important;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
.bbb {
  font-weight: 500;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  line-height: 1.7;
  font-variation-settings: "opsz" 14;
  padding-bottom: 0;
  color: #323232 !important;
  text-align: center;
  margin-top: 5px;
}

.video-home3 {
  position: relative;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  overflow: hidden;
}

.video-home3 video {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  filter: brightness(0.8);
}

.video-titl {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 10;
  font-size: 3.7rem;
}

.video-titl p {
  margin: 0;
  text-align: center;
  font-size: 48px;
  z-index: 10;

  font-family: "DM Sans", sans-serif;
  font-weight: 600;
}

/* Tab düymələri */
.tab-buttons {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
  z-index: 999;
}

.tab-buttons button {
  background: linear-gradient(135deg, #4077d8, #1e3a8a);
  color: white;
  border: none;
  padding: 12px 25px;
  margin-right: 15px;
  width: 300px;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 25px;
  transition: 0.3s ease-in-out;
  border: 1px solid white;
}

.tab-buttons button:hover,
.tab-buttons button.active {
  background: linear-gradient(135deg, #1e3a8a, #0f172a);
  transform: scale(1.05);
}

.elig-sections {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: none;
  margin-top: -10px;
  padding-top: 0;
}

.eligibility-criteria,
.prioritization-methodology {
  width: 80%;

  margin: 10px 0;
  background: transparent;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  opacity: 0;
  transform: scale(0.95);
  animation: fadeIn 0.5s ease-in-out forwards;
  margin-top: 0px;
}
.eligibility-criteria {
  width: 87%;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.eligibility-criteria h3,
.prioritization-methodology h3,
.eligibility-criteria .description {
  text-align: center;
  padding-bottom: 10px;
  font-size: 35px;
  padding-top: 0px;
  margin-top: 0px;
}
.eligibility-criteria .description {
  text-align: center;
  padding-bottom: 17px;
  font-size: 18px;
}

.criteria-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.item2 img {
  height: 64px;
  width: 64px;
}
.item2 {
  margin-bottom: 20px;
}

/*
.criteria-item {
  flex: 1;
  min-width: 300px;

  color: white;
  padding: 25px;
  border-radius: 12px;

  text-align: center;
  transition: transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  position: relative;
  border-radius: 1em;
  background: linear-gradient(to left, #252e66b3, #151a3fb3);
  color: #ffffff;
}
.criteria-item::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: inherit;
  background: linear-gradient(
    to left,
    #98faff79,
    #ffffff96,
    #eabfff75,
    #8726b779
  );
  z-index: -1;
}
*/

.prior_cards_section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-wrap: wrap;
}
.prior_card {
  width: 360px;
  height: 630px;
  background-color: #eef2ff96;
  border-radius: 20px;
}
.prior_card img {
  /* width: 360px;*/
  height: 170px;
  object-fit: cover;
  border-radius: 8px;
}

.eligibility-criteria .description {
  font-size: 19px;
  padding: 12px 0;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  line-height: 2.8rem;
}

.prior_cards_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 30px;
  margin-top: 30px;
}

.prior_cards_section img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 2px;
  border-radius: 10px 10px 0 0;
}

.prior_card h2 {
  color: hsl(218, 66%, 55%);
  margin: 7px auto;
  align-self: flex-start;
  padding-bottom: 15px;
  width: 93%;
}

.prior_card p {
  width: 93%;
  text-align: left;
  margin: 0 auto;
  line-height: 1.6rem;
  margin-top: 5px;
  font-size: 15px;
}

/*----------------*/
@media screen and (max-width: 768px) {
  .tab-buttons {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .tab-buttons button {
    width: 80%;
    font-size: 1rem;
    padding: 10px 20px;
  }
  .item1 {
    flex-wrap: wrap;
  }
  .criteria-item {
    width: 400px;
    height: 400px !important;
    margin: 20px 0;
    flex-wrap: wrap;
  }
  .criteria-itemm p {
    max-width: 350px !important;

    line-height: 22px;
    font-size: 14px !important;
  }
  .item2 ul li {
    font-weight: 500;
    line-height: 20px;
    font-size: 10px;
  }
  .item1text h4 {
    font-weight: 500;
    font-size: 24px;
  }
  .item1text p {
    font-size: 18px;
    line-height: 24px;
  }
}

/*-------------------------*/
.criteria-item {
  background-color: white;
  color: hsl(0, 0%, 20%);
  width: 600px;
  height: 250px;
  margin: 20px 0;
  box-shadow: 2px 2px 12px 0px #2323234d;
  border-radius: 12px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.criteria-itemm p {
  max-width: 560px;
  font-weight: 500;
  line-height: 28px;
  font-size: 18px;
}
.criteria-itemm ul li {
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
}
@media screen and (max-width: 900x) {
  .criteria-item {
    width: 400px;
    height: 290px;
    margin: 20px 0;
  }
  .criteria-itemm p {
    max-width: 400px;

    line-height: 22px;
    font-size: 14px !important;
  }
  .item2 ul li {
    font-weight: 500;
    line-height: 20px;
    font-size: 10px;
  }
  .item1text h4 {
    font-weight: 500;
    font-size: 24px;
  }
  .item1text p {
    font-size: 18px;
    line-height: 24px;
  }
}
/*
.criteria-list :hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}*/

/*--------------------------------------------------*/
.prior_card {
  position: relative;
  border-radius: 10px;
  background: transparent; /* Şəffaf fon */
  color: #ffffff;
}
.item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.item1text {
  max-width: 410px;
  margin: 0 20px;

  text-align: left;
}
.item1text h4 {
  font-weight: 500;
  font-size: 30px;
  color: #323232;
  text-align: left !important;
}
.item1text p {
  font-weight: 500;
  font-size: 18px;
  color: #323232;
  line-height: 28px;
  text-align: left;
}
.item2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* Gradient Border */
.prior_card::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: inherit;
  background: linear-gradient(to left, #98f9ff, #ffffff58, #eabfff, #8726b7);
  z-index: -2;
}

/* İç hissənin fonunu şəffaf gradient etmək üçün */
.prior_card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background: linear-gradient(to left, #252e66e2, #151a3feb);
  z-index: -1;
}

/*-----------------------*/

.program-second-divn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 80px 20px;
  gap: 30px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.digital-scopen {
  width: 420px;
  background-color: #f9f9fb;
  border-radius: 13px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 13px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  max-height: 120px;
}

.digital-scopen.expandedn {
  max-height: 100rem;
  height: 340px;
}

.scope-headern {
  display: flex;

  justify-content: center;
  align-items: center;
}
.scope-header-hn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.scope-header-hn a {
  top: 0;
}
.scope-descpn {
  font-size: 16px;
  color: #5a5a5a;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  text-align: justify;
  margin: 0px 10px;
}
.scope-header-hn h3 {
  font-weight: 500;
  font-size: 30px;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  font-family: "DM Sans", sans-serif;
  line-height: 1rem;
  margin-top: 3px;
}
.scope-icon {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

@media screen and (max-width: 530px) {
  .criteria-item {
    width: 360px;
    height: 500px !important;
    margin: 20px 0;
    flex-wrap: wrap;
  }
  .item2 {
    max-width: 360px !important;
  }
}

.criteria-item:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;
}
