.video-home {
  position: relative; /* Fixed əvəzinə relative */
  width: 100%;
  height: 90vh;
  overflow: hidden; /* Scroll yaranmasın deyə */
  display: flex;
  align-items: center;
  justify-content: center;
  background: black; /* Əlavə olaraq qara fon */
}

.video-home video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Videonu ekranı tam doldurmaq üçün */
}
