/* footer.css */
.footer {
  background: linear-gradient(90deg, #1a4381 0%, #050e1b 100%);
  margin-top: 0px !important;
  color: white;
  width: 100%;
  height: auto;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fp {
  font-family: "DM Sans", sans-serif;

  font-weight: 900;
  font-size: 13.48px;
  line-height: 1.5;
  letter-spacing: 0%;
}
.footer-content {
  position: relative;
  width: 90%;
  margin: 24px 0;
  flex-wrap: wrap;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-logo img {
  width: 155px;
  height: 49px;
}

.footer-divider {
  width: 2px;
  height: 60px;
  background-color: white;
  margin: 0 10px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  text-align: center;
}
.flogo1 {
  width: 140px;
}
.flogo2 {
  width: 250px !important;
  height: 50px;
}
.footer-text p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  width: 150px;
  text-align: left;
}

.footer-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
  font-size: 25px;
  align-items: center;
}

.footer-icons svg {
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.footer-icons svg:hover {
  transform: scale(1.2);
  color: #1a4381;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 20px 0;
}

.footer-copyright {
  font-size: 14px;
  text-align: center;
  opacity: 0.8;
  height: 60px;
}
.footer-copyright p {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.footerh {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
